pkgbase = smedja
	pkgdesc = GPU-accelerated terminal emulator and AI orchestration forge
	pkgver = 0.15.1
	pkgrel = 1
	url = https://github.com/mwigge/smedja
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = libssl.so
	depends = wl-clipboard
	optdepends = ttf-jetbrains-mono: monospace font for the terminal
	optdepends = xclip: X11 clipboard fallback (not needed under Wayland)
	provides = smedja
	source_x86_64 = smedja-linux-x86_64.tar.gz::https://github.com/mwigge/smedja/releases/download/v0.15.1/smedja-linux-x86_64.tar.gz
	sha256sums_x86_64 = 716027dd5c276a59e757d55e0134c382329f75e7a04305614bcc84dfa30381b3
	source_aarch64 = smedja-linux-aarch64.tar.gz::https://github.com/mwigge/smedja/releases/download/v0.15.1/smedja-linux-aarch64.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = smedja
